.kol{
	float:left;
}
.k1{
	width: 8.33333333%;
}
.k2{
	width: 16.66666666%;
}
.k3{
	width: 24.999999%;
}
.k4{
	width: 33.333332%;
}
.k5{
	width: 41.666665%;
}
.k6{
	width: 49.999998%;
}
.k7{
	width: 58.333331%;
}
.k8{
	width: 66.666664%;
}
.k9{
	width: 74.999997%;
}
.k10{
	width: 83.333333%;
}
.k11{
	width: 91.666663%;
}
.k12{
	width: 99.999996%;
}
body{
	display: block;
	margin: 0px ;
	padding: 0px ;
	font-family: courier;
}
/* za Header*/
.h1{
	font-weight: bold;
	margin-left: 10%;
	text-decoration: none;
	color: black;
}
.menu{
	text-align: right;
	margin-top: 2.5%;
}
.menu>a{
	text-decoration: none;
	color: black;
	padding: 2% 3% 2% 3%;
	margin-right: 0.5%;
} 
.menu>a:hover{
	background-color: black;
	color: white;
	border-radius: 3em;
}
.verticalLine {
  border-left: thin solid lightgrey;
 /* height: 100%*/
}
.verticalLineRight{
	border-right: thin solid lightgrey;
	/*height: 100%;*/
}
#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 45px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
	color: #4caf50;
	border-radius: 3em;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #312f2f;
  border-radius: 5px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 105px;
  height: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
/*za Content*/
.content {
	width: 70%;
	margin:auto;
	padding: 0% 10%; 	
}
.content-container{
	/*height: 750px;*/
	padding: 0 20 0 20;
	display: block;
}
img:hover{
	-ms-transform: scale(0.5);  
	-webkit-transform: scale(0.5); 
	transform: scale(1.1); 
	transition: transform 0.5s;
}
.content-text1{
	width: 50%;
	margin-left: 1%;
} 
.content-text2{
	width: 50%;
	margin-top: 9%;
	height: 350px;
}
.content-text3{
	width: 50%;
	margin-left: 2%;
	margin-top: 2%;
}
.content-photo1{
	width: 40%;
	height: 60%;
	padding:10 40 10 40;
}
.content-photo2{
	width: 20%;
	margin-top: 20%;
	padding:0 0 0 30;
}
.content-photo3{
	width: 15%;
	padding: 0 20 10 30;
}
.video{
	text-align: center;
	margin-bottom: 3%;
	padding-top: 3%;
}

/*Footer*/
.footer{
	text-align: center;
	height: 15%;
	width:92%;
	margin-top: 5%;	
	margin-left: 3.5%;
	display: block;
}
.hr{
	width: 99.6%;
